body {
    padding-top: 50px;
    padding-bottom: 20px;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

span{
    display: block;
}

a {
    color: #FFF;
    text-decoration: none;
}

a:hover 
{
    text-decoration:none; 
    cursor:pointer;  
}

.guestlist{
    margin-top: 50px;
}

.names{
    margin-left: 100px;
}

.wedders{
    color: black;
}
